:root {
    --header-color:  #FFFFFF;
    --accetnt-color: #2196F3;
    --main-title-color: #212121;
    --main-font: Roboto; Raleway;
    --tiypical-margin: 30px;

}
p, 
h1, 
h2, 
h3, 
h4 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
address {
    font-style: normal;
}

img {
    display: block;
}
button {
    cursor: pointer;
}
.btn {
/*position: absolute;*/
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.link {
text-decoration: none;
}
.list {
list-style: none;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
}

/*-----header-----*/

.header {
        border-bottom: 1px solid #ECECEC;
}
.header .container {
    display: flex;
    align-items: center;
    }
.header-nav {
    display: flex;
    align-items: center;
    }
.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
padding-top: 24px;
padding-bottom: 25px;
color: #2196F3;
margin-right: 93px;
}
.header-logo span {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
padding-top: 24px;
padding-bottom: 25px;
color: #000000;
    }
.header-list {
    display: flex;
}
.header-item:not(:last-child) {
    margin-right: 50px;
    }
.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
padding-top: 24px;
padding-bottom: 25px;
}
.header-link:hover {
color: var(--accetnt-color);
}
.header-link:focus {
    color: var(--accetnt-color);
    }
    .header-item {
        position: relative;
    }
    .header-link .current {
        color: #2196F3;
    }
.current::after {
content: "";
position: absolute;
bottom: -28px;
display: block;
width: 100%;
height: 4px;
border-radius: 4px;
background-color: #2196F3;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-connect {
    margin-left: auto;
}
.contact-ikon {
    fill: #757575;
margin-right: 10px;
}
.header-mail {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
margin-left: 50px;
}
.header-mail:hover,
.header-mail:focus {
    color: #2196F3;;
}
.header-tel:hover,
.header-tel:focus {
    color: #2196F3;
}
.header-mail:hover .contact-ikon,
.header-mail:focus .contact-ikon {
    fill: #2196F3;
}
.header-tel:hover .contact-ikon,
.header-tel:focus .contact-ikon {
    fill: #2196F3;
}

/*-----hero-----*/

.hero {
background-color: #C4C4C4;
background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), 
url(../images/hero-bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 200px;
padding-bottom: 200px;
}
.hero .container {
/*display: flex;*/
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--header-color);
max-width: 696px;
margin: 0 auto;
justify-content: center;
margin-bottom: var(--tiypical-margin);


}
.hero-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
display: block;
justify-content: center;
margin: 0 auto;
}


/*------about-----*/

.about {
    padding-top: 94px;
}
.about-list {
    display: flex;
    margin-left: -30px;
}
.about-item {
margin-left: var(--tiypical-margin);
width: 270px;
box-sizing: border-box;
width: 100%;
}
.about-list-title{
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.about-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.about-link-link {
    display: flex;
    align-items: center;
    justify-content: center;
width: 270px;
height: 120px;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: var(--tiypical-margin);
}
.about-ikon{

}
/*-----work-----*/

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
display: flex;
justify-content: center;
}
.work-list {
    display: flex;
    justify-content: center;
}
.work-list-title {
    justify-content: space-between;
}
.work-list-title:not(:last-child) {
margin-right: var(--tiypical-margin);
}
.work-img {
position: relative;
}
.work-img> .work-img-text {
position: absolute;
width: 370px;
height: 70px;
left: 0;
bottom: 0;
background: rgba(47, 48, 58, 0.8);
}
.work-img-text {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    
}

/*-----comand-----*/

.comand {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.comand-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.comand-list {
    display: flex;
}
.comand-item {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.comand-item:not(:last-child) {
    margin-right: var(--tiypical-margin);
}
.comand-list-title {
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
/*margin-top: 30px;*/
}
.comand-list-text {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-top: 10px;
margin-bottom: 16px;
}
.comand-text {
    padding-top: var(--tiypical-margin);
    padding-bottom: var(--tiypical-margin);

}
.comand-soc-list {
display: flex;
justify-content: center;
}
.comand-soc-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}
.comand-soc-item:first-child {
    margin-left: 0;
}
.comand-soc-link{
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
}
.comand-soc-icon {
    fill: #AFB1B8;
}
.comand-soc-link:hover,
.comand-soc-link:focus {
    background-color: #2196F3;
}
.comand-soc-link:hover .comand-soc-icon,
.comand-soc-link:focus .comand-soc-icon {
    fill: #FFFFFF;
}


/*-----client-----*/

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.client-list {
    display: flex;
}
.client-item {
    width: 170px;
    height: 92px;  
    margin-left: var(--tiypical-margin);
}
.client-item:first-child {
    margin-left: 0;
}
.client-linc {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
height: 100%;
border: 1px solid #AFB1B8;
border-radius: 4px;
}
.client-icon {
    fill: #AFB1B8;
}
.client-linc:hover, 
.client-linc:focus {
    border: 1px solid #2196F3;
}
.client-linc:hover .client-icon,
.client-linc:focus .client-icon {
    fill: #2196F3;
}
/*-----footer-----*/
.footer-wrap .container {
    display: flex;
}
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-kont {
    width: 231px;
}
.footer-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.footer-logo span {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-addres {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
margin-top: 20px;
margin-bottom: 9px;

}
.footer-list {
}
.footer-list-li:not(:last-child) {
    margin-bottom: 9px;
}
.footer-mail {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.6);
}

.footer-soc {
    display: block;
    padding-top: 12px;
    padding-bottom: 100px;
    margin-left: 100px;
}
.footer-soc-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;

}
.footer-soc-list {
    display: flex;
    /*justify-content: center;*/
}
.footer-soc-item {
    width: 44px;
        height: 44px;
        border-radius: 50%;
        margin-left: 10px;
        background: rgba(255, 255, 255, 0.1);
}
.footer-soc-item:first-child {
    margin-left: 0;
}
.footer-soc-link {
    display: flex;
        align-items: center;
        justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.footer-soc-icon {
    fill: #FFFFFF;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #2196F3;
}

/*-----modal-----*/

.backdrop {
}
.is-hidden {
}
.modal {
}
.modal-close-btn {
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
    }

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 580px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: transform 250ms linear;
}

.modal-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-icon {
    fill: #000000;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/*-----portfolio-----*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: -30px;
}
.portfolio-filter-list {
    margin-bottom: 50px;
}
.portfolio-filter-list:not(:last-child) {
    margin-right: 8px;
}
.portfolio-button {
    display: flex;
    justify-content: center;
}
.portfolio-btn-li:not(:last-child) {
    margin-right: 8px;

}
.portfolio-btn-li {

}
.btn-filter {/*width: 130px;*/
    height: 38px;
    /*left: 976px;
    top: 174px;*/
    background: #F5F4FA;
    border-radius: 4px;
    border: 1px solid white;
    padding: 6px 22px;

}
.portfolio-button {
    display: flex;
    justify-content: center;
}

.portfolio-filter-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.btn-filter:hover,
.btn-filter:focus {
    background: #2196F3;
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-filter:hover,
.btn-filter:focus {
    color: #FFFFFF;
}

.project {
    display: flex;
    flex-wrap: wrap;
}
.project-text {
    width: auto;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;

}
.portfolio-progect-list {
    margin-left: -30px;
}
.portfolio-project-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: var(--tiypical-margin);
    box-sizing: border-box;
    margin-bottom: var(--tiypical-margin);
    background: #FFFFFF;    
}
.portfolio-project-item:focus,
.portfolio-project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-project-title {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-project-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-project-item:hover .portfolio-top-text{
    transform: translateY(0);
}
.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-top-text {
    position: absolute;
    top: 0;
    font-size: 18px;
line-height: 1.6;
color: #FFFFFF;
background-color: rgba(33, 150, 243, 0.9);
padding-top: 63px;
padding-bottom: 63px;
padding-left:  24px;
padding-right:  24px;
transform: translateY(100%);
transition: transform 250ms linear;
}
