/*------about-----*/

.about {
    padding-top: 94px;
}
.about-list {
    display: flex;
    margin-left: -30px;
}
.about-list__item {
margin-left: var(--tiypical-margin);
width: 270px;
box-sizing: border-box;
width: 100%;
}
.about-list__title{
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.about-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.about-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
width: 270px;
height: 120px;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: var(--tiypical-margin);
}
