/*-----client-----*/

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.client-list {
    display: flex;
}
.client-item {
    width: 170px;
    height: 92px;  
    margin-left: var(--tiypical-margin);
}
.client-item:first-child {
    margin-left: 0;
}
.client-linc {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
height: 100%;
border: 1px solid #AFB1B8;
border-radius: 4px;
transition: border 250ms ;
}
.client-icon {
    fill: #AFB1B8;
    transition: fill 250ms;
}
.client-linc:hover, 
.client-linc:focus {
    border: 1px solid #2196F3;
}
.client-linc:hover .client-icon,
.client-linc:focus .client-icon {
    fill: #2196F3;
}