/*-----client-----*/

.client .container {
    padding-top: 60px;
    padding-bottom: 60px;

@media screen and (min-width: 768px){
    max-width: 768px;
}
@media screen and (min-width: 1200px){
    min-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
}
    
}
.client__title {
    font-weight: 700;
font-size: 28px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;

@media screen and (min-width: 1200px){
font-size: 36px;
line-height: 1.17;
}
}
.client-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.client-list__item {
    height: 92px;
    width: 100%;
    @media screen and (min-width: 400px){
width: calc((100% - 30px)/ 2 );
    }
@media screen and (min-width: 768px){
width: calc((100% - 60px) / 3);
}
@media screen and (min-width: 1200px){
    width: calc((100% - 150px) / 6);
}
}
/*.client-list__item:first-child {
    margin-left: 0;
}*/
.client-list__linc {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
height: 100%;
border: 1px solid #AFB1B8;
border-radius: 4px;
transition: border 250ms ;
&:hover, 
&:focus {
    border: 1px solid #2196F3;
};
&:hover .client-list__icon,
&:focus .client-list__icon {
    fill: #2196F3;
}
}
.client-list__icon {
    fill: #AFB1B8;
    transition: fill 250ms;
}
