/*-----hero-----*/

.hero {
background-color: #C4C4C4;
background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)), 
url(../images/hero-bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 200px;
padding-bottom: 200px;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--header-color);
max-width: 696px;
margin: 0 auto;
justify-content: center;
margin-bottom: var(--tiypical-margin);

}
.hero-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
display: block;
justify-content: center;
margin: 0 auto;
border: none;
}
