body {
    font-family: Roboto;
}
.link {
text-decoration: none;
}
.list {
list-style: none;
}
.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}